:root {
    /* base color palette */
    --color-light: #B3EFFF;
    --color-bright: #00CFFF;
    --color-medium: #046B99;
    --color-dark: #1C304A;
}

body {
    background-color: var(--color-dark);
    font-family: "Courier New";
    font-size: x-large;
    color: white;
    margin: 1em;
}

a {
    color: var(--color-bright);
}

a:visited {
    color: var(--color-medium);
}

main {
    display: grid;
    grid-template-areas: "header header header" "languages frameworks tools" "employers education links";
}

main>h2 {
    grid-area: header;
}